body{
    margin: 20px;
    background-color:#88ff88;
    color: #000000;
}

.darkmode {
    background-color: #000000;
    color: #88ff88;
}

.darkbt{
    float: inline-end;
    border-radius: 15px;
    height: 30px;
    width: 30px;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

textarea {
    border:3px solid red;
    border-radius: 5px;
    resize: none;
    width: 90%;
    height: 5em;
    vertical-align: baseline;
    font: 1em sans-serif;
}

.resultat {
    border:3px solid blue;
    width: 90%;
    height: 5em;
    vertical-align: text-top;
    font: 1em sans-serif;
    background-color: #ffffff;
    overflow: scroll;
}

.emptybar{
    background-color: #696767;
    margin: 10px;
    width: 80%;
    height: 25px;
    border-radius: 15px;
    border: 3px solid black;
    box-shadow: 1px 1px 1px rgb(63, 59, 59);
}

.progressbar{
    width: 0%;
    height: 25px;
    background-color: pink;
    border-radius: 15px;
}

.compte{
    font-weight: bolder;
    color: blue;
    float: right;
    padding-right: 10%;
}

.gif {
    width: 150px;
    visibility: hidden;
}

button {
    margin: 5px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}